<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" ng-app="ngApp">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Hello Angular 1.0</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="/js/angular/ngAjaxApp.js"></script>
<script src="/js/angular/ngAjaxCtrl.js"></script>
</head>
<body>
	<section ng-controller="ngCtrl">
		<div>
			<button ng-click="getStates()">getAjax</button>
		</div>
	
		<div ng-show="ok">
			<ul>
				<li ng-repeat="d in recvData">{{d.stateCode}} {{d.stateNum}}</li>
			
			</ul>
		
		</div>
	</section>
	
	<section ng-controller="ngLocalCtrl">
	
	<div>
		<button ng-click="getEmp()">getLocalData</button>	
	</div>
	
	<div ng-show="ok">
		<ul>
			<li ng-repeat="rdata in recvData">{{rdata.firstName +" "+rdata.lastName}}</li>
		
		</ul>
	</div>
	</section>
	
	
	
</body>
</html>