<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script src="https://code.jquery.com/jquery-2.2.2.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
<script src="js/jqajax.js" type="text/javascript"></script>
<title>jquery Ajax</title>
</head>
<body>

<section id="container">
	<div>		
		<button id="butAjax" value="getStateData">getData</button>
	</div>
	<div id="ajaxData">
		<select multiple="multiple" id="selects">
		
		</select>
	
	</div>

</section>

</body>
</html>