<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
<title>Hello Thymeleaf</title>
</head>
<body>
	<section class="container">
	
		<div id="list_view">
			
			<table class="table">
				
				<tr>
					<th>num</th>
					<th>id</th>
					<th>greeting</th>
				</tr>
				
				<tr th:each="greeting,iterationStatus:${list}">
					<td th:text="${iterationStatus.count}">1</td>
					<td th:text="${greeting.id}"></td>
					<td th:text="${greeting.text}"></td>
				</tr>
			
			</table>
		
		
		</div>
	
	</section>

</body>
</html>